
.card{
 font-size: 50px;
 background-color: gray;
 border: 2px solid black;
 height: 90px;
 width: 90px;
 text-align: center;
}
table {
margin-left: auto; 
margin-right: 500px;
border-spacing: 4px;
}
.hide{
 font-size: 0px;
}


button{
    background:#0e0e10;
    color: #FDF8E6;
    border-radius: 7px;
    padding: 12px 22px;
    border: 0;
    cursor: grabbing;
    font-size: 20pt;
    font-weight:bold ;
}


html{
    width: auto;
    height: auto;
    background: linear-gradient(blue,aqua,gray);
    font-family: "Times New Roman", Helvetica, sans-serif;
    overflow: scroll;
}

    
